:root {
    --background: #94d1f3;
    --hover-blue: #1c6abd;
    --white: #f9f9f9;
    --gray: #666666;
    --black: #121212;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: var(--background);
    padding: 20px;
    margin: 0;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

.container {
    display: flex;
    gap: 20px;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
}

.box {
    width: 45%;
    display: flex;
    flex-direction: column;
}

.title-bar {
    width: 90%;
    background-color: #ccc;
    padding: 8px 12px;
    font-weight: bold;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border: 1px solid var(--gray);
    border-bottom: none;
}
  
#editor {
    width: 90%;
    height: 70vh;
    padding: 10px;
    /* border-radius: 8px; */
    resize: none;
}

#preview {
    width: 90%;
    height: 70vh;
    overflow: auto;
    background: var(--white);
    padding: 10px;
    border: 1px solid var(--gray);
    /* border-radius: 8px; */
}

#editor, #preview {
    border-top: none;
}
  
footer {
    margin-top: 30px;
    font-size: 15px;
    text-align: center;
    color: var(--black);
}

footer a {
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
}   

footer a:hover {
    color: var(--hover-blue);   /* Change link color on hover */
}

